Rulessets/rulesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- **************************************************
DO NOT EDIT THIS FILE
GB MICHEL , 20313-06-11 
*************************************************** -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="rule">
		<xs:complexType>
			<xs:sequence>		
				<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
				<xs:element name="reference" type="referencetype"></xs:element>
	    		<xs:element name="mimetypes" type="mimettype" minOccurs="0"></xs:element>
	    		<xs:element name="info" type="infotype" maxOccurs="1"></xs:element>
	    		<xs:element name="asserts" type="assertstype" maxOccurs="1"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
    
    <xs:complexType name="infotype">
    	<xs:sequence>
    		<xs:element name="author" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
    		<xs:element name="since" type="xs:date" minOccurs="0" maxOccurs="1"></xs:element>
    		<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
    		<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="mimettype">
    	<xs:sequence>
    		<xs:element name="mime" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="referencetype">
    	<xs:sequence>
    		<xs:element name="reftype" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="refid" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="specid" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="spectitle" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="comment" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="structtype">
	  <xs:simpleContent>
	    <xs:extension base="xs:string">
	      <xs:attribute name="start" type="xs:string"/>
	      <xs:attribute name="length" type="xs:string"/>
	      <xs:attribute name="endianess" type="xs:string"/>
	      <xs:attribute name="stop" type="xs:string"/>
	    </xs:extension>
	  </xs:simpleContent>
	</xs:complexType> 	
    
    <xs:complexType name="iftype">
	  <xs:simpleContent>
	    <xs:extension base="xs:string">
	      <xs:attribute name="condition" type="xs:string"/>
	    </xs:extension>
	  </xs:simpleContent>
	</xs:complexType>
        
    <xs:complexType name="controltype">
    	<xs:sequence>
    		<xs:element name="if" type="iftype" minOccurs="0" maxOccurs="unbounded"></xs:element>
    		<xs:element name="default" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="controllerstype">
    	<xs:sequence>
    		<xs:element name="control-true" type="controltype" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="control-false" type="controltype" minOccurs="1" maxOccurs="1"></xs:element>
    	</xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="asserttype">
    	<xs:sequence>	
    		<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="struct" type="structtype" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    		<xs:element name="controllers" type="controllerstype" minOccurs="0" maxOccurs="1"></xs:element>
    	</xs:sequence>
    </xs:complexType>
    
	<xs:complexType name="assertstype">
    	<xs:sequence>
    		<xs:element name="ids" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="assert" type="asserttype" minOccurs="1" maxOccurs="unbounded"></xs:element>
    	</xs:sequence>
    </xs:complexType>
    
</xs:schema>